/* BUTTONS */
.button {
  padding: 0.6em 0.8em;
  border: 3px solid #fef8de;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  transition-duration: 0.4s;
  color: #fef8de;
}

.button.donations-button {
  display: inline;
  list-style-type: none;
  margin-left: 1em;
  padding: 1em 0.2em;
}

.button.donations-button:hover {
  background-color: #588d40;
}

.button.fact-button {
  max-width: 180px;
  height: auto;
  font-size: clamp(1.2em, 1.8vw, 1.6em);
  background-color: #df9e42;
  cursor: pointer;
}

.button.fact-button:hover {
  font-size: clamp(1.3em, 1.9vw, 1.7em);
  background-color: #588d40;
}

.button.send-button {
  max-width: 180px;
  height: auto;
  margin-top: 2%;
  font-size: clamp(1.2em, 1.8vw, 1.6em);
  background-color: #588d40;
  cursor: pointer;
}

.button.send-button:hover {
  font-size: clamp(1.3em, 1.9vw, 1.7em);
  background-color: #df9e42;
}

.button.know-more {
  max-width: 172px;
  height: auto;
  padding: 0.8em;
  border-style: solid;
  border-width: 3px;
  border-color: #fef8de;
  color: #fef8de;
  background-color: #df9e42;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  margin-top: 36px;
  font-size: clamp(1.2em, 1.8vw, 1.4em);
  transition-duration: 0.4s;
}

.button.know-more:hover {
  font-size: clamp(1.3em, 1.9vw, 1.5em);
  background-color: #588d40;
  transition-duration: 0.4s;
}

/* CARDS */
.card {
  flex-basis: 100%;
  margin: 1%;
  align-items: center;
  text-align: center;
}

.card a {
  text-decoration: none;
  font-size: clamp(1em, 2vw, 2.4em);
  color: #df9e42;
  transition-duration: 0.4s;
}

.card a:hover {
  color: #588d40;
  transition-duration: 0.4s;
}

.filler {
  max-width: 100%;
  height: auto;
  margin-bottom: 2%;
  margin-top: 3%;
  border-style: solid;
  border-width: 5px;
  border-color: #df9e42;
  transition-duration: 0.4s;
}

.filler:hover {
  border-color: #588d40;
  transition-duration: 0.4s;
}

.filler-content {
  width: 40%;
  height: 40%;
  margin-right: 45px;
}

.filler-content0 {
  width: 40%;
  height: 40%;
  margin-left: 30px;
}

label {
  font-size: clamp(1.2em, 2vw, 2.4em);
}

label input {
  margin-top: 10px;
  margin-bottom: 24px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0.5em;
  font-family: "Quicksand", sans-serif;
  font-weight: min;
  font-size: 0.8em;
}

label textarea {
  margin-top: 10px;
  margin-bottom: 24px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0.5em;
  height: 100px;
  font-family: "Quicksand", sans-serif;
  font-weight: min;
  font-size: 0.8em;
}
