/* Tablet and small desktop */
@media screen and (max-width: 768px) {
  .hero__content--overlay {
    align-self: start;
    justify-self: stretch;
    min-height: 78%;
    padding-top: 15%;
    text-align: center;
    text-shadow: #302e2c 1px 0 2px;
    background: none;
    font-size: clamp(1rem, 3.6vw, 4rem);
  }

  .hero--split {
    grid-template-columns: 1fr;
    overflow: hidden;
  }

  .hero__image--split,
  .hero__content--split {
    grid-area: 1 / 1;
  }

  .hero__content--split {
    align-self: start;
    margin: 0;
    padding: 10% 4% 20%;
    color: var(--color-page);
    text-align: center;
    text-shadow: #302e2c 1px 0 2px;
    backdrop-filter: blur(3px);
    font-size: clamp(0.8rem, 3.6vw, 4rem);
  }

  .hero__content--split h1,
  .hero__content--split p {
    color: var(--color-text-light);
  }

  .card__title {
    font-size: clamp(1.05em, 3vw, 2.15em);
  }

  .band--split,
  .band--image-first {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .band__content,
  .org-card {
    margin: 2%;
  }

  .band__image {
    max-height: 18rem;
  }
}

/* Mobile */
@media screen and (max-width: 512px) {
  .navbar {
    justify-content: center;
    min-height: 1rem;
    padding: 0.8em;
    text-align: center;
  }

  .navbar__logo {
    display: none;
  }

  .navbar__link {
    padding: 1em 0.4em;
  }

  .button--nav {
    margin-left: 0.4em;
    padding: 0.6em;
  }

  .hero__image {
    margin-top: 1rem;
  }

  .footer {
    padding: 2rem 0;
  }
}
