/* Tablet and small desktop */
@media screen and (max-width: 768px) {
  .hero__content--overlay {
    align-self: start;
    justify-self: stretch;
    height: 100%;
    padding-top: 20%;
    text-align: center;
    text-shadow: #302e2c 1px 0 2px;
    background: none;
    font-size: clamp(1rem, 3.6vw, 4rem);
  }

  .hero--split {
    grid-template-columns: 1fr;
    overflow: hidden;
    margin-top: 2rem;
  }

  .hero__image--full {
    aspect-ratio: 5/3;
    object-fit: cover;
    object-position: center;
  }

  .hero__image--split,
  .hero__content--split {
    grid-area: 2 / 1;
  }

  .hero__content--split {
    align-self: start;
    margin: 0;
    margin-top: 2rem;
    padding: 15% 2%;
    color: var(--color-page);
    text-align: center;
    text-shadow: #302e2c 1px 0 2px;
    backdrop-filter: blur(3px);
    font-size: clamp(0.8rem, 3.6vw, 4rem);
    height: 100%;
  }

  .hero__content--split h1 {
    color: var(--color-text-light);
  }

  .hero__content--split p {
    font-size: 0%;
  }

  .card__title {
    font-size: clamp(1.05em, 3vw, 2.15em);
  }

  .band--split,
  .band--image-first {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .band__content,
  .org-card {
    margin: 2%;
  }

  .band__image {
    max-height: 18rem;
  }
}

/* Mobile */
@media screen and (max-width: 512px) {
  .navbar__button {
    display: flex;
  }

  .navbar__list {
    position: fixed;
    right: -100%;
    flex-direction: column;
    background-color: var(--color-primary);
    width: 40%;
    margin-top: 12rem;
    text-align: center;
    justify-content: space-around;
    transition: var(--transition);
    padding-top: 5rem;
    padding-bottom: 3rem;
    z-index: -1000;
    box-shadow: 0 5px 10px var(--color-shadow);
  }

  .navbar__list.active {
    right: 0;
  }

  .navbar__button.active .navbar__button-bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .navbar__button.active .navbar__button-bar:nth-child(2) {
    opacity: 0;
  }
  .navbar__button.active .navbar__button-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .button--nav {
    margin-left: 0.4em;
    margin-top: 1rem;
  }

  .hero__image {
    margin-top: 1rem;
  }

  .footer {
    padding: 2rem 0;
  }
}
