/* STYLE SECTIONING TAGS */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  width: -webkit-fill-available;
}

body {
  background-color: #fef8de;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

main {
  margin-left: 5%;
  margin-right: 5%;
}

/* STYLE NAVBAR */
#navbar {
  background-color: #df9e42;
  overflow: hidden;
  padding: 1.6em;
  padding-bottom: 1.6em;
  text-align: right;
  position: fixed;
  z-index: 10;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  align-items: center;
}

#navbarLogo {
  max-width: 105px;
  min-width: 105px;
  position: absolute;
  top: 5%;
  left: 1%;
  margin-left: 0.8em;
}

.other {
  display: inline;
  list-style-type: none;
}

#donations {
  display: inline;
  list-style-type: none;
  margin-left: 1em;
  padding: 1em 0.2em;
}

#donations:hover {
  background-color: #588d40;
}

li a {
  text-decoration: none;
  color: #fef8de;
  padding: 1em;
  font-size: clamp(0.9em, 1.4vw, 1.2em);
  transition-duration: 0.4s;
}

li a:hover {
  font-size: clamp(0.94em, 1.4vw, 1.24em);
}

/* STYLE CONTAINERS */
#hero-container1 {
  position: relative;
  text-align: left;
  color: white;
  overflow: hidden;
}

#hero-container2 {
  display: flex;
  align-items: flex-start;
}

.cards-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 10%;
  margin-bottom: 10%;
}

.fact-container {
  background-color: #df9e42;
  margin-top: 2%;
  margin-bottom: 12%;
  text-align: center;
  padding: 4%;
  height: 12%;
}

.content-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  padding: 3%;
}

.content-container0 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: #f8e5c0;
  align-items: center;
  padding: 3%;
}

.content-container1 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: #f8e5c0;
  padding: 3%;
}

.content-container2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 3%;
}

#contact-section {
  background-color: #588d40;
  color: #fef8de;
  text-align: center;
  padding: 3em 0;
  align-items: center;
}

/* STYLE TEXT */
.hero-text1 {
  position: absolute;
  bottom: 0;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  color: white;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.3);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  backdrop-filter: blur(3px);
}

.hero-text2 {
  font-size: clamp(1rem, 2vw, 1.8rem);
  color: #588d40;
  position: relative;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 88px;
}

.hero-text2 p {
  color: black;
}

.intro-text {
  margin-top: 10%;
  text-align: center;
  font-size: clamp(1.2em, 2.5vw, 2.5em);
}

.flex-item a {
  text-decoration: none;
  font-size: clamp(1em, 2vw, 2.4em);
  color: #df9e42;
  transition-duration: 0.4s;
}

.flex-item a:hover {
  color: #588d40;
  transition-duration: 0.4s;
}

.title1 {
  text-align: center;
  font-size: clamp(1.8rem, 3vw, 2.8rem);
  color: #588d40;
}

.title2 {
  text-align: center;
  font-size: clamp(1.8em, 3vw, 2.8em);
  margin-top: 2%;
  margin-bottom: 4%;
  color: #fef8de;
}

.subtitle {
  text-align: center;
  font-size: clamp(1.4em, 2.2vw, 2.5em);
  margin-top: 8px;
}

#fact {
  text-align: center;
  font-size: clamp(1.4em, 2.4vw, 2.4em);
  margin-top: 3%;
  color: #fef8de;
}

label {
  font-size: clamp(1.2em, 2vw, 2.4em);
}

label input {
  margin-top: 10px;
  margin-bottom: 24px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0.5em;
  font-family: "Quicksand", sans-serif;
  font-weight: min;
  font-size: 0.8em;
}

label textarea {
  margin-top: 10px;
  margin-bottom: 24px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0.5em;
  height: 100px;
  font-family: "Quicksand", sans-serif;
  font-weight: min;
  font-size: 0.8em;
}

.copy {
  margin-top: 5%;
  font-size: 1.1em;
}

.list {
  margin: 20px;
  font-size: clamp(1rem, 1.4vw, 1.5rem);
}

.donation-link {
  color: #588d40;
  text-decoration: none;
  transition-duration: 0.4s;
}

.donation-link:hover {
  text-decoration: underline;
  color: #df9e42;
  transition-duration: 0.4s;
}

/* STYLE IMAGES */
.hero-image1 {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 68px;
}

.hero-image2 {
  width: 50%;
  height: 50%;
  margin-right: 10px;
  margin-top: 68px;
}

.flex-item {
  flex-basis: 100%;
  margin: 1%;
  align-items: center;
  text-align: center;
}

.filler {
  max-width: 100%;
  height: auto;
  margin-bottom: 2%;
  margin-top: 3%;
  border-style: solid;
  border-width: 5px;
  border-color: #df9e42;
  transition-duration: 0.4s;
}

.filler:hover {
  border-color: #588d40;
  transition-duration: 0.4s;
}

.filler-content {
  width: 40%;
  height: 40%;
  margin-right: 45px;
}

.filler-content0 {
  width: 40%;
  height: 40%;
  margin-left: 30px;
}

/* STYLE BUTTONS */
.button {
  padding: 0.6em 0.8em;
  border: 3px solid #fef8de;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  transition-duration: 0.4s;
  color: #fef8de;
}

#factButton {
  max-width: 180px;
  height: auto;
  font-size: clamp(1.2em, 1.8vw, 1.6em);
  background-color: #df9e42;
  cursor: pointer;
}

#factButton:hover {
  font-size: clamp(1.3em, 1.9vw, 1.7em);
  background-color: #588d40;
}

#sendButton {
  max-width: 180px;
  height: auto;
  margin-top: 2%;
  font-size: clamp(1.2em, 1.8vw, 1.6em);
  background-color: #588d40;
  cursor: pointer;
}

#sendButton:hover {
  font-size: clamp(1.3em, 1.9vw, 1.7em);
  background-color: #df9e42;
}

#know-more {
  max-width: 172px;
  height: auto;
  padding: 0.8em;
  border-style: solid;
  border-width: 3px;
  border-color: #fef8de;
  color: #fef8de;
  background-color: #df9e42;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  margin-top: 36px;
  font-size: clamp(1.2em, 1.8vw, 1.4em);
  transition-duration: 0.4s;
}

#know-more:hover {
  font-size: clamp(1.3em, 1.9vw, 1.5em);
  background-color: #588d40;
  transition-duration: 0.4s;
}

/* MEDIA */
@media screen and (max-width: 950px) {
  label input {
    margin-left: 15%;
    margin-right: 15%;
  }

  label textarea {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media screen and (max-width: 850px) {
  .hero-text1 {
    position: relative;
    font-size: clamp(1rem, 3.6vw, 4rem);
    color: white;
    position: absolute;
    top: 10%;
    padding-top: 15%;
    text-align: center;
    text-shadow: #302e2c 1px 0 2px;
    backdrop-filter: blur(3px);
    background: none;
    height: 78%;
  }

  .hero-image2 {
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  #donations {
    padding: 0.8em 0.6em;
  }

  .hero-text2 {
    font-size: clamp(0.8rem, 3.6vw, 4rem);
    color: white;
    position: absolute;
    margin: 0;
    top: 7%;
    padding-top: 10%;
    padding-bottom: 20%;
    padding-left: 4%;
    padding-right: 4%;
    text-align: center;
    text-shadow: #302e2c 1px 0 2px;
    backdrop-filter: blur(3px);
    z-index: -1;
  }

  .hero-text2 p {
    color: white;
  }

  .flex-item a {
    text-decoration: none;
    font-size: clamp(1.05em, 3vw, 2.15em);
    color: #df9e42;
    transition-duration: 0.4s;
  }

  .cards-container {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .content-container {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .content-container0 {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .content-container1 {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .content-container2 {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .content0 {
    margin: 2%;
  }

  .content {
    margin: 2%;
  }

  .filler-content {
    width: 0%;
    height: 0%;
  }

  .filler-content0 {
    width: 0%;
    height: 0%;
  }
}

@media screen and (max-width: 600px) {
  #navbarLogo {
    max-width: 0px;
    min-width: 0px;
    margin-left: 0;
  }

  #navbar {
    padding: 1.2em 0.8em;
    text-align: center;
  }

  #donations {
    margin-left: 0.4em;
    padding: 0.6em 0.6em;
  }

  li a {
    padding: 1em 0.4em;
  }

  .hero-image1 {
    margin-top: 54px;
  }

  .hero-image2 {
    margin-top: 48px;
  }

  #contact-section {
    padding: 2em 0;
  }

  label input {
    margin-left: 6%;
    margin-right: 6%;
  }

  label textarea {
    margin-left: 6%;
    margin-right: 6%;
  }
}
